body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}
*{    font-size:8pt;
}
table{
    td{
        vertical-align: top;
    }
}
.waybill-container {
    .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            text-align: left;

            img {
                width: 50mm;
                margin-bottom: 3mm;


            }
        }
    }
    .customer{
        border:1px solid #ccc;
        padding:2mm;
        margin-bottom: 0;
        .main-table{
            .table:first-child{
                padding-right:3mm;
            }
        }
    }
    .products{
        .table{
            border-top:1px solid #ccc;
            border-right:1px solid #ccc;
            border-bottom:0;
            border-left:0;
            border-spacing: 0;
            border-collapse: separate;
        

            
            td,th{
                border-bottom:1px solid #ccc;
                border-left:1px solid #ccc;
                border-top:0;
                border-right:0;
                padding:2mm;
                vertical-align: top;

            }
        }
        
    }

}

@media screen {
    *{
        font-size:16px;
    }
    body {
        background: #ccc;
    }

    .waybill-container {
        max-width: 1000px;
        background: #fff;
        padding: 15px;
        margin: 15px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 0 10px 0 rgba(#000, .3);

    }
}