@model LoginViewModel
@{

    ViewData["Title"] = _localizer["Login"];
    Layout = "_MiniLayout";
}
<style>
    .container-login .wrap-login .login-logo img{
    width:200px !important;
    }
</style>

<!-- Main Wrapper -->
<div class="container-login postion-relative p-4 d-flex align-items-center justify-content-center flex-wrap h-100"
     style="background: url('/images/shared/pattern-bg.jpg') no-repeat center ">
    <div class="wrap-login">
        <form asp-action="Login">

            <span class="login-logo">
                <img src="/images/front/nav-logo.jpg" />
            </span>

            <div class="col mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="input">
                <input type="email" placeholder="@_localizer["Username"]" asp-for="Email">
                <span class="focus" data-placeholder=""></span>
            </div>
            <small class="text-danger"> <span asp-validation-for="Email"></span> </small>
            <div class="input">
                <input type="password" asp-for="Password" placeholder="@_localizer["Password"]">
                <span class="focus" data-placeholder=""></span>
            </div>
            <small class="text-danger"> <span asp-validation-for="Password"></span> </small>


            <div class="form-group text-center mt-5">
                <button type="submit" class="btn btn-primary px-4 py-2">@_localizer["Login"]</button>
            </div>
        </form>
    </div>
</div>