

<div class="footer py-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-10 wow slideInLeft" data-wow-duration=".5s">
                <div class="">
                    <img src="/images/front/logo-footer.svg" alt="Alternate Text" class="mb-lg-30 mb-10" />
                    <p>TECHVALLEY Started its business activities 2008 as a Value-Added Distributor of Professional Audio/ Visual solutions and Security systems for Middle East .</p>
                </div>

            </div>
            <div class="col-lg-3 mb-10 wow fadeIn" data-wow-duration="1s">
                <h2> Website Links</h2>
                <div class="website-links d-flex">
                    <div class="links mt-lg-30 mt-10">
                        <a asp-controller="Home" asp-action="Index" asp-route-language="en">Home</a>
                        <a asp-controller="Home" asp-action="Profile" asp-route-language="en">Profile</a>
                        @* <a asp-controller="Home" asp-action="Solution" asp-route-language="en">Solutions</a> *@
                        <a asp-controller="Home" asp-action="CategoryPage" asp-route-language="en">Products</a>
                    </div>
                    <div class="links mt-lg-30 mt-10">
                        <a asp-controller="Home" asp-action="Vender" asp-route-language="en">Vendors</a>
                        <a asp-controller="Home" asp-action="Client" asp-route-language="en">Clients</a>
                        <a asp-controller="Contacts" asp-action="ContactUs" asp-route-language="en">Contact Us</a>
                        @* <a asp-controller="Home" asp-action="LatestNews" asp-route-language="en">News</a> *@
                        @* <a asp-controller="Home" asp-action="Promotion" asp-route-language="en">Promotions</a> *@
                    </div>
              
                </div>

            </div>
            <div class="col-lg-2 offset-lg-1 mt-lg-0 mt-20 mb-10 wow slideInRight" data-wow-duration=".5s">
                <h2>Follow Us</h2>
                <div class="social mt-30">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copy-right py-10">
    <div class="container">
        <div class="copy d-flex">
            <p class="mb-10">All Copyrights Reserved To Techvalley 2025</p>
            <p>Designed And Developed By Muhammed</p>
        </div>
    </div>
</div>

