

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] branch  </title>

    @*    addfrontadmin*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    @*    addfrontIadvise*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/lib/boxicons/css/boxicons.css" rel="stylesheet" />
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />


@*    addfronttechally*@


    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">



    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/intl-tel-input/css/intlTelInput.min.css" rel="stylesheet" />
    <link href="~/lib/lightGallery-master/lightGallery-master/dist/css/lightgallery.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dist/dropzone.min.css" rel="stylesheet" />
    <link href="~/css/en/styles.min.css" rel="stylesheet" />


</head>
<body>




       <partial name="_Navbar" />



    <div class="">
        <main role="main" class="">
            <partial name="_notification" />
            @RenderBody()
        </main>
    </div>


     <partial name="_Footer" />
    



    @*  addjsiadvise*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
 @*    <script src="https://cdn.tiny.cloud/1/g28lhnxtlihu4l4a381gw7tz47voznshwbi10lmsvlekrfme/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/dgat8tmr0lyrho1sx5g89i0gbs9bpvip5imhfz2xjhi7bolr/tinymce/6/tinymce.min.js" referrerpolicy="origin"> </script> *@

   @*  addjsadmin*@

    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>




    @*  addjstevalu*@


    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/lib/slick/slick-animation.min.js"></script>
    <script src="~/lib/wow/WOW.min.js"></script>
    <script src="~/lib/intl-tel-input/js/utils.js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput-jquery.min.js"></script>
    <script src="~/lib/lightGallery-master/lightGallery-master/dist/lightgallery.min.js"></script>
    <script src="~/lib/lightGallery-master/lightGallery-master/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="~/lib/lightGallery-master/lightGallery-master/dist/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="~/lib/dropzone/dist/dropzone.min.js"></script>
    <script src="~/js/spark.dropzone.js"></script>
    <script src="~/js/jquery.sticky-sidebar.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>




    <script>
        new WOW().init();
    </script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



