@model string

<div class="form-control dropzone videoFile clearfix">
    <input type="hidden" asp-for="@Model" />
    <a class="btn btn-secondary rounded-0 fileinput-button dz-clickable float-right" href="javascript:void(0);">
        <i class="fa fa-file-text-o fa-fw"></i>
        <span>رفع الملف...</span>
    </a>
</div>