@model string
<div class="form-control dropzone file clearfix">
    <input type="hidden" asp-for="@Model" />
    <a class="btn btn-secondary fileinput-button dz-clickable float-right" href="javascript:void(0);">
        <i class="fa fa-file-text-o"></i>
        <span>Add Icon.....</span>
    </a>
</div>