@model string
@{
    // var mapKey = await _service.GetSeo();
}

<fieldset class="gllpLatlonPicker">
    <div class="d-flex justify-content-around">
        <input type="text" class="gllpSearchField form-control" placeholder="Enter location here">
        <input type="text" class="gllpLinkField form-control" placeholder="or enter Google map link">
        <input type="button" class="gllpCurrentLocation btn btn-dark" value="or Get your location">
    </div>
    <div class="gllpMap form-control" style="height: 300px">Google Maps</div>
    <input type="hidden" class="gllpZoom" value="13"/>
    <input type="hidden" class="gllLatLng" asp-for="@Model"/>
</fieldset>