@model string
<!-- Dropzone  Files -->

<div class="form-control dropzone pngFile clearfix">
    <input type="hidden" asp-for="@Model" />
    <a class="btn btn-secondary fileinput-button dz-clickable float-right"
       href="javascript:void(0);">
        <i class="fa fa-file-o"></i>
        <span>Add PNG File...</span>
    </a>
</div>