@model DateTime?
@{
    DateTime.TryParse(ViewData["value"]?.ToString(), out var t);
}




<div class="input-group date datetimepicker" data-target-input="nearest" style="direction:ltr">
    <input type="text" class="form-control datetimepicker-input" data-date-format="h:mm a"
           asp-for="@Model"
           value="@(Model > DateTime.MinValue ? string.Format(new System.Globalization.CultureInfo("en-GB"),"{0: hh:mm tt}", Model) :
                        t > DateTime.MinValue ? string.Format(new System.Globalization.CultureInfo("en-GB"), "{0: hh:mm tt}", t) :
                            string.Format(new System.Globalization.CultureInfo("en-GB"), "{0: hh:mm tt}", new DateTime()) )" />
    <div class="input-group-addon input-group-append" data-target=".datetimepicker" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-clock"></i></div>
    </div>
</div>

